body,
html {
  margin: 0;
  height: 100%;
}

.pageContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100% - 60px);
}

.topBar {
  background-color: rgb(229, 229, 229);
  height: 50px;
  display: grid;
  align-items: center;
  padding: 5px 10px;
}
.topBar h3 {
  font-size: 25px;
  margin: 0;
}

.topBar p {
  font-size: 13px;
  margin: 0;
}

.options {
  padding: 5px 10px;
  display: grid;
  grid-template-rows: auto auto auto;
}
.options h3 {
  margin: 0;
  margin-bottom: 5px;
}

.config {
  padding: 5px 10px;
  display: grid;
  row-gap: 5px;
}
.config h3 {
  margin: 0;
  margin-bottom: 5px;
}

.config p {
  margin: 0;
  font-size: 13px;
}
.config label {
  display: grid;
  grid-template-columns: min-content auto;
  /* justify-content: left; */
  column-gap: 10px;
  font-weight: 600;
  white-space: nowrap;
}
